* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  overflow-x: hidden;
}

.banner {
  height: 100vh;
  display: flex;
  position: relative;
}

.slider {
  flex: 1;
  overflow: hidden;
}

.carousel-item img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.carousel-caption {
  text-align: right;
  right: 60px;
  top: 90px;
  left: auto;
  color: white;
}



.carousel-caption h1 {
  font-size: 70px;
  font-weight: bold;
}

.carousel-caption h2 {
  font-size: 30px;
  margin-top: 10px;
}

.carousel-caption p {
  margin-top: 30px;
  font-size: 14px;
}

.side-menu {
width: 5%;
  background-color: #ff0000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding-top: 30px;
  position: relative;
  z-index: 2;
}

.menu-icon,
.search-icon {
  width: 30px;
  margin: 20px 0;
  cursor: pointer;
}

.side-menu::after {
  content: '';
  width: 1px;
  height: 100px;
  background: #fff;
  position: absolute;
  left: 50%;
  top: 200px;
  transform: translateX(-50%);
}

.carousel-indicators {
  margin-top: 20px;
  gap: 15px;
  top: 45%;
}

.carousel-indicators button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: transparent;
  border: 2px solid #fff;
  opacity: 1;
}

.carousel-indicators .active {
  background: #fffdfd;
}

.share {
  margin-top: auto;
  margin-bottom: 30px;
  text-align: center;
  color: white;
}

.share img {
  width: 20px;
  margin-bottom: 5px;
  cursor: pointer;
}

.top-bar {
  position: absolute;
  top: 20px;
  left: 50px;
  z-index: 3;
}

.top-bar ul {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
}

.top-bar ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}

.top-bar img {
  height: 30px;
}
